 

.instag-total{
    width: 100%;
    margin-top: 128px;

     .instag-wrapper{
         display: flex;
         justify-content: space-between;
         background: #FAF5F0;

        .box1{
            display: flex;
            flex-direction: column;

            .top{
                display: flex;

                .top1{
                    width: 216px;
                    height: 240px;

                    img{
                        width: 100%;
                    }
                }
            }
            .bottom{
                display: flex;

                .bottom1{
                    width: 216px;
                    height: 240px;

                    img{
                        width: 100%;
                    }
                }
            }
        }
        .box2{
            display: flex;
            flex-direction: column;

             .top{
                 display: flex;
                  .top2{
                      width:  216px;
                      height: 240px;
                  }
             }
             .bottom{
                 display: flex;
                  .bottom2{
                      width: 216px;
                      height: 240px;

                       img{
                           width: 100%;
                       }
                  }
             }
        }
        .intermedio{
            padding-top: 135px;
            background: #FAF5F0;

             .instag-title{
                 font-size: 48px;
                 font-weight: 400;
                 color: #3A3D3F;
                   .times{
                       font-family: $times-font;
                       font-style: italic;
                   }
                 

             }
             h3{
                font-size: 12px;
                font-weight: 400;
                color: #FF671F;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                margin-top: 32px;

             }
        }

         

     }
    
}


